<%= content_tag :h1, t('welcome')%>

<div data-controller="home">
  <h1 data-target="home.output">
</div>

<img data-src="<%= asset_pack_path 'media/images/icons/icon_512.png' %>" class="lazyload" />
